.credentials{
    .transform-img{
        transform: scaleX(-1);
        // transform: rotateX(180deg);
    }
    .nav-link{
        color: gray;
        &.active{
            color: white;
        }
    }

    @media (min-width:1920px){

        nav{

            .nav-link{
                font-size: 1.25rem !important;
            }
        }
    }
}