header{
    .navbar-brand{
        img{
            width: 200px;
            // max-width: 50%;
            @media (min-width:1200px){
                width: auto;
                max-width: 80%;
                translate: 20px 20px;
            }
            @media (min-width:1920px){
                translate: 65px 39px;
                // max-width: 100%;
            }
        }
    }
    .navbar-nav{
        .nav-link{
            color: white;
            position: relative;
            &.active{
                color: white;
            }
            &:hover, &.active{
                
                &::after{
                    content: '';
                    position: absolute;
                    display: block;
                    height: 3px;
                    width: 100%;
                    background: linear-gradient(to right, #9A67FF, #ffffff);
                    bottom: 0;
                    left: 0;
                    border-radius: 4px;
                }
                &::before{
                    content: '';
                    display: block;
                    position: absolute;
                    left: 50%;
                    translate: -50%;
                    width: 50%;
                    margin-inline: auto;
                    height: 150%;
                    border-radius: 100%;
                    border-radius: 50%;
                    bottom: 0;
                    filter: blur(20px);
                    background-color: #7B38FF;
                    z-index: -1;
                }
                
            }

        }
    }

    @media (min-width:1200px){
        .bg-nav{
            background-color: transparent !important;
            backdrop-filter: none;
        }
    }
    
    @media (min-width:1920px){
        .nav-link{
            font-size: 1.25rem;
        }
    }
}